   body {
       overflow: hidden;
       margin: 0;
       background: #2cb1f4;
   }
   
   text {
       font-family: sans-serif;
       pointer-events: none;
   }
   
   div.tooltip {
       position: absolute;
       text-align: center;
       width: 60px;
       min-height: 28px;
       padding: 12px;
       font: 12px sans-serif;
       color: white;
       background: black;
       border: 0px;
       pointer-events: none;
   }